* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
    background-color: #f2f2f2;
}

body,
input,
button,
textarea {
    font-family: 'Alata', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

div#modal {
    background-color: rgba(0,0,0,0.93);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.iniciar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4em;
}

.iniciar button {
    margin-top: 20px;
    padding: 12px;
    width: auto;
    box-shadow: 0 0 1em black;
    background-color: #0e0e0e;
    border: #fff 0.1em solid;
    color: #f2f2f2;
    border-radius: 8px;
    outline: none;
    font-size: 0.8em;
    transition: 0.3s;
    cursor: pointer;
}

.iniciar button:hover,
.iniciar button:focus {
    transform: scale(0.95);
}
.iniciar button:active {
    transform: scale(0.9);
}

#modal footer {
    position: fixed;
    z-index: 1;
    top: 93vh;
    right: 0;
    padding: 1.2em;
    color: #f2f2f2;
    font-size: 0.6em;
}

.box-points {
    height: 92vh;
    width: 33vw;
    background-color: #48f;
    border: black 0.2em solid;
    margin-top: 4vh;
    border-radius: 26px;
    box-shadow: 0 0 0.3em black;
}

.cruzada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    height: 92vh;
    width: 60vw;
    background-color: #cccccc;
    border: black 0.2em solid;
    border-radius: 26px;
    box-shadow: 0 0 0.3em black;
}

.grid-jogo {
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: repeat(20, 34px);
    grid-template-rows: repeat(20, 34px);
    margin: 1em;
}

.vazio {
    background-color: #fff;
    border: grey 1px solid;
}

.numberBOX {
    background-color: #232323;
    color: #f2f2f2;
    text-align: center;
    border: white 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.numberBOX:hover {
    transform: scale(1.2);
}

input {
    background-color: lightgrey;
    color: black;
    text-align: center;
    text-transform: uppercase;
    border: black 2px solid;
    font-size: 0.8em;
    outline: 0;
}

input:hover {
    background-color: #48f;
    color: white;
}

input:focus,
input:active {
    border: #36f 3px groove;
}

.placar {
    color: white;
    height: 6%;
    margin: 3%;
}

.placar h1,
.placar b {
    padding: 0.2em;
    font-size: 1em;
    text-align: center;
}

.div_resp {
    display: flex;
    flex-direction: column;
    margin: 11%;
    width: 95%;
    height: 9%;
}

.botoes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 90%;
}

.botoes p {
    font-size: 0.5em;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    padding-bottom: 3%;
    padding-top: 1%;
    justify-content: space-between;
}

.box-points button {
    font-size: 0.6em;
    margin: 0.1em;
    height: 1.8em;
    padding: 0.15em;
    box-shadow: 0 0 0.3em black;
    background-color: #f2f2f2;
    border: grey 0.005em solid;
    cursor: pointer;
    border-radius: 6px;
    outline: 0;
    transition: 0.1s;
}

.box-points button:hover {
    color: #f2f2f2;
    background-color: #232323;
    border: white 0.01em solid;
}

.box-points button:active {
    transform: scale(0.95);
}
